<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MybatisBuilder.project.settings">
    <option name="connectionInfoList">
      <list>
        <ConnectionInfo>
          <option name="database" value="fission.account" />
          <option name="description" value="" />
          <option name="driverClass" value="" />
          <option name="driverLibrary" value="" />
          <option name="driverType" value="MySQL" />
          <option name="host" value="120.27.15.205" />
          <option name="id" value="c6c9bc04a9da42c38858f5832834e968" />
          <option name="name" value="fission.account" />
          <option name="port" value="3306" />
          <option name="url" value="" />
          <option name="userName" value="cj" />
        </ConnectionInfo>
      </list>
    </option>
    <option name="defaultParameters">
      <DefaultParameters>
        <option name="renameConfig">
          <Config>
            <option name="mapperTypePattern" value="" />
            <option name="exampleTypePattern" value="" />
            <option name="sqlFileNamePattern" value="" />
          </Config>
        </option>
        <option name="selectWithLockConfig">
          <SelectWithLockConfig>
            <option name="byPrimaryKeyWithLockOverride" value="" />
            <option name="byExampleWithLockOverride" value="" />
          </SelectWithLockConfig>
        </option>
      </DefaultParameters>
    </option>
    <option name="historyMap">
      <map>
        <entry key="JAVA_CLIENT_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.fission.mapper" />
            </list>
          </value>
        </entry>
        <entry key="JAVA_MODEL_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.fission.model" />
            </list>
          </value>
        </entry>
        <entry key="SQL_MAP_PACKAGE">
          <value>
            <list>
              <option value="cj.db.mappings" />
            </list>
          </value>
        </entry>
      </map>
    </option>
    <option name="lastGeneratorParamWrapper">
      <GeneratorParamWrapper>
        <option name="defaultTableConfigWrapper">
          <TableConfigurationWrapper>
            <option name="domainObjectRenamingRule">
              <DomainObjectRenamingRule>
                <option name="replaceString" value="" />
                <option name="searchString" value="" />
              </DomainObjectRenamingRule>
            </option>
            <option name="generatedKeyWrapper">
              <GeneratedKeyWrapper>
                <option name="column" value="" />
              </GeneratedKeyWrapper>
            </option>
          </TableConfigurationWrapper>
        </option>
        <option name="javaClientConfig">
          <JavaClientGeneratorConfiguration>
            <option name="configurationType" value="XMLMAPPER" />
            <option name="targetPackage" value="cj.netos.fission.mapper" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.fission.record/src" />
          </JavaClientGeneratorConfiguration>
        </option>
        <option name="javaModelConfig">
          <JavaModelGeneratorConfiguration>
            <option name="targetPackage" value="cj.netos.fission.model" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.fission.openports/src" />
          </JavaModelGeneratorConfiguration>
        </option>
        <option name="sqlMapConfig">
          <SqlMapGeneratorConfiguration>
            <option name="targetPackage" value="cj.db.mappings" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.fission.record/src" />
          </SqlMapGeneratorConfiguration>
        </option>
      </GeneratorParamWrapper>
    </option>
    <option name="tableInfoMap">
      <map>
        <entry key="fission.account#absorb_bill">
          <value>
            <TableInfo>
              <option name="database" value="fission.account" />
              <option name="domainName" value="AbsorbBill" />
              <option name="tableComment" value="裂变平台各账户变动账单" />
              <option name="tableName" value="absorb_bill" />
            </TableInfo>
          </value>
        </entry>
        <entry key="fission.account#business_bill">
          <value>
            <TableInfo>
              <option name="database" value="fission.account" />
              <option name="domainName" value="BusinessBill" />
              <option name="tableComment" value="业务账户的账变账单" />
              <option name="tableName" value="business_bill" />
            </TableInfo>
          </value>
        </entry>
        <entry key="fission.account#fission_account">
          <value>
            <TableInfo>
              <option name="database" value="fission.account" />
              <option name="domainName" value="FissionAccount" />
              <option name="tableComment" value="裂变游戏账户" />
              <option name="tableName" value="fission_account" />
            </TableInfo>
          </value>
        </entry>
        <entry key="fission.account#income_bill">
          <value>
            <TableInfo>
              <option name="database" value="fission.account" />
              <option name="domainName" value="IncomeBill" />
              <option name="tableComment" value="裂变平台用户提现平台分账账单" />
              <option name="tableName" value="income_bill" />
            </TableInfo>
          </value>
        </entry>
        <entry key="fission.mf#absorb_in_record">
          <value>
            <TableInfo>
              <option name="database" value="fission.mf" />
              <option name="domainName" value="AbsorbInRecord" />
              <option name="tableComment" value="用户提现平台的洇金分账账号" />
              <option name="tableName" value="absorb_in_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="fission.mf#absorb_out_record">
          <value>
            <TableInfo>
              <option name="database" value="fission.mf" />
              <option name="domainName" value="AbsorbOutRecord" />
              <option name="tableComment" value="用户提现平台的洇金分账账号的提取单" />
              <option name="tableName" value="absorb_out_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="fission.mf#business_in_record">
          <value>
            <TableInfo>
              <option name="database" value="fission.mf" />
              <option name="domainName" value="BusinessInRecord" />
              <option name="tableComment" value="B端充值平台分账记录" />
              <option name="tableName" value="business_in_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="fission.mf#business_refund_record">
          <value>
            <TableInfo>
              <option name="database" value="fission.mf" />
              <option name="domainName" value="BusinessRefundRecord" />
              <option name="tableComment" value="业务款退款记录&#10;充许会员在未分账前一般7天内可退款，比如mf_settings表中的退款天数限制" />
              <option name="tableName" value="business_refund_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="fission.mf#business_return_record">
          <value>
            <TableInfo>
              <option name="database" value="fission.mf" />
              <option name="domainName" value="BusinessReturnRecord" />
              <option name="tableComment" value="业务款返还记录。&#10;比如平台从用户分账20%，但业务员优惠给他5%，然后就返还其5%进其余额&#10;流程：用户先充值，平台收到分账，业务员看到填写返还比例，客服或账务执行返还" />
              <option name="tableName" value="business_return_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="fission.mf#business_shunt_record">
          <value>
            <TableInfo>
              <option name="database" value="fission.mf" />
              <option name="domainName" value="BusinessShuntRecord" />
              <option name="tableComment" value="B端充值平台转出分账记录单" />
              <option name="tableName" value="business_shunt_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="fission.mf#income_record">
          <value>
            <TableInfo>
              <option name="database" value="fission.mf" />
              <option name="domainName" value="IncomeRecord" />
              <option name="tableComment" value="用户提现平台的分账账号" />
              <option name="tableName" value="income_record" />
            </TableInfo>
          </value>
        </entry>
        <entry key="fission.mf#outcome_record">
          <value>
            <TableInfo>
              <option name="database" value="fission.mf" />
              <option name="domainName" value="OutcomeRecord" />
              <option name="tableComment" value="用户提现平台的分账的提取单" />
              <option name="tableName" value="outcome_record" />
            </TableInfo>
          </value>
        </entry>
      </map>
    </option>
  </component>
</project>